@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model WebAppHospital.Models.IndexModelDoctor


<h2>Doctores</h2>


@Html.ActionLink("Nuevo doctor", "Crear", "Doctor", null, new { @class = "btn btn-success rounded" })

<br />

<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Especialidad</th>
            <th scope="col"># de cedula</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var doctor in Model.Doctores)
        {
            <tr>
                <th scope="row">@doctor.Id</th>
                <td>@doctor.Nombre</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.NumCedula</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Doctor", new { idDoctor = doctor.Id }, null)
                    |
                               
                    <a  onclick="eliminarDoctor(this)" href="#@doctor.Id"> Borrar</a>|
                    @Html.ActionLink("Detalle", "DetalleDoctor", "Doctor", new { idDoctor = doctor.Id }, null)
                </td>
            </tr>
        }


    </tbody>
</table>


<nav>
    <ul class="pagination">

        @if (Model.Pg.Anterior)
        {
            <li class="page-item">


                @Html.ActionLink("<<", "Index", "Doctor", new { pagina = (Model.Pg.Pagina_Actual - 1) }, null)
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><<</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>

        }


        @for (int i = Model.Pg.Min_Bloque; i <= (Model.Pg.Total_Paginas <= Model.Pg.Max_Bloque ? Model.Pg.Total_Paginas : Model.Pg.Max_Bloque); i++)
        {
            if (i == Model.Pg.Pagina_Actual)
            {
                <li class="page-item active">

                    @Html.ActionLink(i.ToString(), "Index", "Doctor", new { pagina = i }, new { @class = "page-link" })

                </li>
            }
            else
            {

                <li class="page-item">

                    @Html.ActionLink(i.ToString(), "Index", "Doctor", new { pagina = i }, new { @class = "page-link" })

                </li>
            }


        }



        @if (Model.Pg.Siguiente)
        {


            <li class="page-item">


                @Html.ActionLink(">>", "Index", "Doctor", new { pagina = (Model.Pg.Pagina_Actual + 1) }, null)
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">>></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </li>
        }




    </ul>
</nav>

